<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{plantilla/base :: head(#{nombreEmpresa}+' - Gestión', 'none')}"></head>

<body>
<div th:replace="~{plantilla/baseAdmin :: menu}"></div>

<div class="container mt-5">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> [[#{dashboard.datosusuarios}]] </div>
                <div class="card-body">
                    <p>[[#{dashboard.numusuarios}]]&nbsp;&nbsp;
                        <span id="totalUsuarios" th:text="${datos?.totalUsuarios}"></span>
                    </p>
                    <p>[[#{dashboard.usuariosinpedidos}]]&nbsp;&nbsp;
                        <span id="totalUsuariosinPedido" th:text="${datos?.usuariosSinpedidos}"></span>
                    </p>
                    <p>[[#{dashboard.usuariossinconfirmar}]]&nbsp;&nbsp;
                        <span id="totalUsuariosSinConfirmar" th:text="${datos?.usuariosSinConfirmarPedido}"></span>
                    </p>
                    <p>[[#{dashboard.distribucionuserrol}]]</p>
                    <canvas id="chartUsuariosPorRol" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> [[#{dashboard.datoscategorias}]]</div>
                <div class="card-body">
                    <p>[[#{dashboard.categorias}]] &nbsp;
                        <span id="totalCategorias" th:text="${datos?.totalCategorias}"></span>
                    </p>
                    <p>[[#{dashboard.categoriasActivas}]] &nbsp;
                        <span id="totalCategoriasActivas" th:text="${datos?.categoriasActivas}"></span>
                    </p>
                    <p>[[#{dashboard.categoriasInactivas}]] &nbsp;
                        <span id="totalCategoriasInactivas" th:text="${datos?.categoriasInactivas}"></span>
                    </p>
                    <p>[[#{dashboard.distribucioncatpro}]]</p>
                    <canvas id="chartProductosPorCategoria" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">[[#{dashboard.datosproductos}]]</div>
                <div class="card-body">
                    <p>[[#{dashboard.productos}]]&nbsp;
                        <span id="totalProductos" th:text="${datos?.totalProductos}"></span>
                    </p>
                    <p>[[#{dashboard.productosmax}]]</p>
                    <ul class="list-group list-group-flush">
                        <th:block th:each="producto :${datos?.productosMasVendidos}">
                            <li class="list-group-item" th:text="${producto}"></li>
                        </th:block>
                    </ul>
                    <p>[[#{dashboard.productosmin}]]</p>
                    <ul class="list-group list-group-flush">
                        <th:block th:each="producto :${datos?.productosMenosVendidos}">
                            <li class="list-group-item" th:text="${producto}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">[[#{dashboard.datospedidos}]]</div>
                <div class="card-body">
                    <p>[[#{dashboard.totalpedidos}]]&nbsp;
                        <span id="totalPedidos" th:text="${datos?.totalPedidos}"></span>
                    </p>
                    <p>[[#{dashboard.estadospedido}]]</p>
                    <canvas id="chartEstadoPedidos" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">[[#{dashboard.datosgenerales}]]</div>
                <div class="card-body">
                    <p>[[#{dashboard.ventastotales}]] &nbsp;
                        <span id="ventasTotales" th:text="${datos?.ventasTotales}"></span>&#8364;
                    </p>
                    <p>[[#{dashboard.ventastotaleslocal}]]&nbsp;
                        <span id="ventasLocal" th:text="${datos?.ventasLocal}"></span>&#8364;
                    </p>
                    <p>[[#{dashboard.ventastotalesrecogida}]]&nbsp;
                        <span id="ventasRecogida" th:text="${datos?.ventasRecogida}"></span>&#8364;
                    </p>
                    <p>[[#{dashboard.ventastotalesenvios}]]&nbsp;
                        <span id="ventasEnvio" th:text="${datos?.ventasDomicilio}"></span>&#8364;
                    </p>
                    <p>[[#{dashboard.pendiente}]]&nbsp;
                        <span id="pendiente" th:text="${datos?.totalPendiente}"></span>&#8364;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">[[#{dashboard.ventasAnuales}]]</div>
                <div class="card-body">
                    <canvas id="chartVentasAnuales" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> [[#{dashboard.ventasMensuales}]]</div>
                <div class="card-body">
                    <canvas id="chartVentasMensuales" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{plantilla/base :: pie_final}"></footer>
<div th:insert="~{plantilla/base :: scripts}"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/estadisticas.js}"></script>

<script th:inline="javascript">
    const datosUsuariosPorRol = /*[[${datos.usuariosPermisos}]]*/ {};
    cargarGraficoUsuarios(datosUsuariosPorRol);

    const datosProductosPorCategoria = /*[[${datos.productosPorCategorias}]]*/ {};
    cargarGraficoCategorias(datosProductosPorCategoria);

    const datosEstadoPedidos = /*[[${datos.pedidosEstado}]]*/ {};
    cargarGraficoPedidosEstado(datosEstadoPedidos);

    const datosVentasAnuales = /*[[${datos.ventasAnuales}]]*/ {};
    cargarGraficoVentasAnuales(datosVentasAnuales);

    const datosVentasMensuales = /*[[${datos.ventasMensuales}]]*/ {};
    cargarGraficoVentasMensuales(datosVentasMensuales);
</script>

</body>
</html>