<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="~{plantilla/base:: head(#{nombreEmpresa}, 'none')}"></head>

<body>
<div th:replace="~{plantilla/base :: menu}"></div>

<div class="container mt-4">
    <div class="error-middle" th:if="${#lists.isEmpty(pedidos)}">
        <h3 class="text-warning">[[#{pedidos.sinpedidos}]]</h3>
        <a th:href="@{'/'}">
            <button type="button" class="btn custom_buttons rounded">[[#{pedidos.boton.volver}]]</button>
        </a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div th:unless="${#lists.isEmpty(pedidos)}">
        <div class="row">
            <div class="col table-responsive">
                <br>
                <h2 class="border-light">[[#{pedidos.titulo}]]</h2>
                <table id="tableA" class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">[[#{pedidos.numero}]]</th>
                            <th scope="col">[[#{pedidos.fecha}]]</th>
                            <th scope="col">[[#{pedidos.productos}]]</th>
                            <th scope="col">[[#{pedidos.estado.pedido}]]</th>
                            <th scope="col">[[#{pedidos.tipoenvio}]]</th>
                            <th scope="col">[[#{pedidos.total}]]</th>
                            <th scope="col">[[#{pedidos.ticket}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido?.id}"></td>
                        <td th:text="${#dates.format(pedido?.fecha,'dd/MM/yyyy')}"></td>
                        <td><a class="fas fa-id-card" data-toggle="modal" th:href="'#datosProductos' + ${pedido?.id}" role="button"></a></td>
                        <div th:replace="~{usuarios/ventanasDatos :: ventanaDatosProductos(${pedido?.id})}"></div>
                        <td th:text="${pedido?.estado}"></td>
                        <div th:if="${pedido?.tipoEnvio} eq '0'">
                            <td>[[#{pedidos.envio.local}]]</td>
                        </div>
                        <div th:if="${pedido.tipoEnvio} eq '1'">
                            <td>[[#{pedidos.envio.domicilio}]]
                                <a class="fas fa-search-location" data-toggle="modal" th:href="'#datosEnvio' + ${pedido?.id}" role="button"></a>
                                <div th:replace="~{usuarios/ventanasDatos :: ventanaDatosEnvio(${pedido?.id})}"></div>
                            </td>
                        </div>
                        <div th:if="${pedido.tipoEnvio} eq '3'">
                            <td></td>
                        </div>
                        <td>[[${pedido.importeTotal}]] &#8364;</td>
                        <td><a class="fas fa-file-pdf fa-lg" th:href="'/pedidos/descargarTicket/' + ${pedido?.id}" role="button"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="float-right">
            <a href="/" class="btn custom_buttons btn-md my-0 p rounded">
                <span>[[#{pedidos.boton.volver}]]</span>
            </a>
        </div>
    </div>
</div>

<footer th:insert="~{plantilla/base :: pie}"></footer>
<div th:insert="~{plantilla/base :: scripts}"></div>

</body>
</html>